<h1>Coaching#ask</h1>
<div class="formulaire">
<form action="answer">
  <h1><label for="question">Speak to your coach : </label></h1>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
</div>


